/* App-level Utilities */
.text-tabular {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
